<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BudgetTracker</title>
    <link rel="stylesheet" href="/index" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

  </head>
  <body>
    <!--HEADER CONTENT-->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">BudgetTracker</h1>
        
      </div>

      <div class="button">
        <button type="button" class="btn btn-dark" href="/login">Logout</button>
      </div>
    </div>
    <div class="greeting">
      <!--USER FIELD WILL POPULATE WITH INFO FROM DATABASE.-->
      <h2>Hello, <%=name %>!</h2>
    </div>

    <div class="expenses">
      <h2>Your budget is <%=budgetAmount %> </h2>
      <h3>Your Monthly Bills</h3>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" href="/index">View Weekly Expenses</a>
        </li>
    </div>
    
<<<<<<< HEAD

<div class="expenses-container">
  <div class="expenses-chart">
      <!--RENDER MONTHLY BILLS CHART. CAN ADJUST THE ASPECT RATIO AS NEEDED-->
      <div class="ct-chart ct-minor-sixth"></div>
  </div>
  
  <div class="expenses-list">
      <!--RENDER MONTHLY BILLS LIST-->
      <div id="billsForm">
        <form action="/submitBill" method="POST">
          <div class="form-group row">
            <label for="amount" class="col-sm-2 col-form-label">Amount</label>
            <div class="col-sm-10">
              <input type="integer" class="form-control" id="amount">
            </div>
=======
      <div class="dropdown">
          <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add a Bill
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Rent/Mortgage</a>
            <a class="dropdown-item" href="#">Water</a>
            <a class="dropdown-item" href="#">Electricity/Gas</a>
            <a class="dropdown-item" href="#">Car</a>
            <a class="dropdown-item" href="#">Other</a>
>>>>>>> User-login
          </div>
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-sm-2 pt-0">Type</legend>
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="bills" id="rent_mortBill" value="rent_mort" checked>
                  <label class="form-check-label" for="rent_mortBill">
                    Rent/Mortgage
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="bills" id="waterBill" value="water">
                  <label class="form-check-label" for="waterBill">
                    Water
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="bills" id="electricityBill" value="electricity">
                  <label class="form-check-label" for="electricityBill">
                    Electricity
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="bills" id="gasBill" value="gas">
                  <label class="form-check-label" for="gasBill">
                    Gas
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="bills" id="carBill" value="car">
                  <label class="form-check-label" for="carBill">
                    Car
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="bills" id="otherBill" value="other">
                  <label class="form-check-label" for="otherBill">
                    Other
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary" formmethod="POST">Submit</button>
            </div>
          </div>
        </form>
      </div>
      <div id="expenseForm">
        <form action="/submitExpense" method="POST">
          <div class="form-group row">
            <label for="amount" class="col-sm-2 col-form-label">Amount</label>
            <div class="col-sm-10">
              <input type="integer" class="form-control" id="amount" name="amount">
            </div>
          </div>
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-sm-2 pt-0">Type</legend>
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="expenses" id="gasExpense" value="gas" checked>
                  <label class="form-check-label" for="gasExpense">
                    Gas
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="expenses" id="groceryExpense" value="groceries">
                  <label class="form-check-label" for="groceryExpense">
                    Groceries
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="expenses" id="diningExpense" value="dining">
                  <label class="form-check-label" for="diningExpense">
                    Dining Out
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="expenses" id="otherExpense" value="other">
                  <label class="form-check-label" for="otherExpense">
                    Other
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary" formmethod="POST">Submit</button>
            </div>
          </div>
        </form>
        </div>
        
<div class="expenses-container">
  <div class="expenses-chart">
      <!--RENDER MONTHLY BILLS CHART. CAN ADJUST THE ASPECT RATIO AS NEEDED-->
      <div class="ct-chart ct-minor-sixth"></div>
  </div>
  
  <div class="expenses-list">
      <!--RENDER MONTHLY BILLS LIST-->
      

  </div>
  </div>
    </body>
    
    <script>
    var data = {
      labels: ['Gas', 'Groceries', 'Dining', 'Other'],
      series: [<%= gas %>, <%= groceries %>, <%= dining %>, <%= other %>]
    };
    
    var options = {
      chartPadding: 30,
      labelOffset: 50,
      labelDirection: 'explode'
    };
    
    // var responsiveOptions = [
    //   [{
    //     labelOffset: 100,
    //     chartPadding: 20,
    //     labelDirection: "explode"
    //   }]
    // ];
    
    new Chartist.Pie('.ct-chart', data, options);
    </script> 
  
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </html>
